<head>
  <title>lain</title>
  <meta name="og:site_name" content="%ï¼©ã#" />
  <meta name="og:title" content="lain" />
  <meta name="og:image" content="/assets/icon.gif" />
  <meta name="theme-color" content="#000000" />
  <style>
    body {
      cursor: url("/assets/cursor.gif"), auto;
      overflow: hidden;
      background-image: url("/assets/wind.gif");
      background-repeat: repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    iframe {
      margin-left: -9999px;
    }
  </style>
</head>
