<astro>
  <div class="container">
    <img src="/assets/lain.gif" alt="Lain GIF" />
  </div>

  <script>
    const songs = ["/assets/track1.mp3", "/assets/track2.mp3"];

    const audio = new Audio(songs[Math.floor(Math.random() * songs.length)]);

    window.addEventListener("click", function () {
      if (audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }

      audio.play();
    });
  </script>
</astro>
